pip install pandas
pip install xlswriter
pip install yfinance
pip install keras
pip install tensorflow
pip install transformers
pip install torch
pip install reservoirpy
pip install seaborn
pip install matplotlib
pip install numpy
pip install scikit-learn
pip install backtesting
pip install scikeras
pip install ta

